body {
  margin-top: 20px;
  color: #1a202c;
  text-align: left;
  /* background-color: #336bb6; */
  background-color: #edf3fc;
}
.container {
  /* background-color: #d8e9ff; */
  max-width: 90%;
  align-items: center;
}
.main_body {
  padding: 15px;
  /* box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06); */
  /* background-color: #d8e9ff; */
}

.card {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.card_body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1rem;
}

.avatar {
  width: 3cm;
  height: 3cm;
  display: inline-block;
}

.gutters_sm {
  display: flex;
  margin-right: -8px;
  margin-left: -8px;
  /* box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06); */
}

.gutters_sm > .col,
.gutters_sm > [class*="col-"] {
  padding-right: 8px;
  padding-left: 8px;
}
.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}

.bg-gray-300 {
  background-color: #e2e8f0;
}
.h-100 {
  height: 100% !important;
}
.shadow-none {
  box-shadow: none !important;
}

.table {
  width: auto;
  margin-top: 20px;
}
