.table {
  width: auto;
  /* font-size: 20px; */
  background-color: white;
  border-radius: 1%;
  box-shadow: 0 8px 8px 0 rgba(227, 235, 240, 0.712),
    0 10px 10px 0 rgba(227, 235, 240, 0.712);
}
.yellow_star {
  color: rgba(255, 241, 39, 0.979);
}
